USE [master]
GO
/****** Object:  Database [TIENDA]    Script Date: 13-mar-21 3:06:51 PM ******/
CREATE DATABASE [TIENDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIENDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIENDA.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TIENDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIENDA_log.ldf' , SIZE = 3840KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIENDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIENDA]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDE_CAT] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CAT] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDE_CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDE_CLIE] [int] NOT NULL,
	[NOM_CLI] [varchar](50) NOT NULL,
	[APE_CLIE] [varchar](50) NULL,
	[CORREO] [varchar](50) NULL,
	[CONTRASEÑA] [varchar](50) NULL,
	[DIR_CLIE] [varchar](50) NOT NULL,
	[ID_DIS] [int] NOT NULL,
	[FON_CLIE] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IDE_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLE_PED]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLE_PED](
	[ID_PED] [int] NOT NULL,
	[ID_PROD] [int] NOT NULL,
	[PREC_TOTAL] [money] NOT NULL,
	[CANT_PED] [int] NOT NULL,
	[DES_PED] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DETALLE_PED] PRIMARY KEY CLUSTERED 
(
	[ID_PED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID_DIS] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_DISTRITO] PRIMARY KEY CLUSTERED 
(
	[ID_DIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[COD_EMP] [int] NOT NULL,
	[NOM_EMP] [varchar](50) NOT NULL,
	[APE_EMP] [varchar](50) NOT NULL,
	[CEL_EMP] [int] NOT NULL,
	[CORREO_EMP] [varchar](50) NOT NULL,
	[DIRECCION_EMP] [varchar](80) NOT NULL,
	[SUELDO] [money] NOT NULL,
	[CONTRASEÑA] [varchar](20) NOT NULL,
	[ID_DIS] [int] NULL,
	[FOTO_EMP] [varchar](50) NULL,
	[FEC_NAC_EMP] [date] NULL,
	[ID_TIP] [int] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[COD_EMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_EMP] [int] NULL,
	[FEC_PEDIDO] [date] NULL,
	[FIN_PEDIDO] [date] NULL,
	[ENV_PEDIDO] [char](1) NULL,
	[CANT_PEDIDO] [int] NULL,
	[ID_CLIE] [int] NULL,
	[DET_PEDIDO] [varchar](50) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_DIS] [int] NULL,
 CONSTRAINT [PK_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PROD] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PRO] [varchar](50) NOT NULL,
	[ID_TIP_PRO] [int] NOT NULL,
	[STOCK_PROD] [int] NOT NULL,
	[PRECIO] [money] NOT NULL,
	[DESCRIPCION] [varchar](200) NOT NULL,
	[ID_PROV] [int] NOT NULL,
	[FOTO_PROD] [varchar](50) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IDE_PROV] [int] IDENTITY(1,1) NOT NULL,
	[EMPRESA_PROV] [varchar](50) NOT NULL,
	[NOM_PROV] [varchar](50) NOT NULL,
	[CARGO_PROV] [varchar](50) NOT NULL,
	[IDE_DIS] [int] NOT NULL,
	[FONO_PROV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[IDE_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIP_EMP]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIP_EMP](
	[ID_TIP] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIP_EMP] PRIMARY KEY CLUSTERED 
(
	[ID_TIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usua]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usua](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_Usua] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT], [DESCRIPCION]) VALUES (1, N'Electronica', N'TECLADOS, MEMORIAS')
INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT], [DESCRIPCION]) VALUES (2, N'Informatica', N'reloj, mouse')
INSERT [dbo].[CATEGORIA] ([IDE_CAT], [NOM_CAT], [DESCRIPCION]) VALUES (3, N'Inteligencia', N'Bombilla Wif, Arduino')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
INSERT [dbo].[CLIENTE] ([IDE_CLIE], [NOM_CLI], [APE_CLIE], [CORREO], [CONTRASEÑA], [DIR_CLIE], [ID_DIS], [FON_CLIE]) VALUES (1, N'Juan', N'Del Monte', N'juan@gmail.com', N'juan', N'Valle sagrado', 2, N'978281222')
INSERT [dbo].[CLIENTE] ([IDE_CLIE], [NOM_CLI], [APE_CLIE], [CORREO], [CONTRASEÑA], [DIR_CLIE], [ID_DIS], [FON_CLIE]) VALUES (2, N'Magaly', N'Medina', N'magaly@gmail.com', N'magaly', N'Av. sin salida', 1, N'982312333')
INSERT [dbo].[DISTRITO] ([ID_DIS], [NOMBRE]) VALUES (1, N'Pamplona')
INSERT [dbo].[DISTRITO] ([ID_DIS], [NOMBRE]) VALUES (2, N'Comas')
INSERT [dbo].[DISTRITO] ([ID_DIS], [NOMBRE]) VALUES (3, N'San Isidro')
INSERT [dbo].[EMPLEADO] ([COD_EMP], [NOM_EMP], [APE_EMP], [CEL_EMP], [CORREO_EMP], [DIRECCION_EMP], [SUELDO], [CONTRASEÑA], [ID_DIS], [FOTO_EMP], [FEC_NAC_EMP], [ID_TIP]) VALUES (1, N'Jorge', N'Marin del Monte', 999999999, N'jorge@gmail.com', N'Los olvidados de Dios', 2000.0000, N'1234', 3, N'~/fotos_empleados/1.jpg', CAST(N'1992-12-12' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PROD], [NOM_PRO], [ID_TIP_PRO], [STOCK_PROD], [PRECIO], [DESCRIPCION], [ID_PROV], [FOTO_PROD]) VALUES (1, N'Drone', 4, 90, 90.0000, N'BENTOBEN-Dron plegable profesional HD 4K con cámara 720P, Selfie, WiFi, FPV, MIni flujo óptico, RC, Quadcopter, helicóptero, Dron, regalo', 1, N'~/img/1.jpg')
INSERT [dbo].[PRODUCTO] ([ID_PROD], [NOM_PRO], [ID_TIP_PRO], [STOCK_PROD], [PRECIO], [DESCRIPCION], [ID_PROV], [FOTO_PROD]) VALUES (2, N'Xiaomi mi 10', 5, 20, 32.0000, N'Original versión Global Xiaomi Mi nota 10 64GB 64MP Cámara 6,47 "Pantalla AMOLED NFC Snapdragon 730G 5260mAh batería de la batería', 4, N'~/img/2.jpg')
INSERT [dbo].[PRODUCTO] ([ID_PROD], [NOM_PRO], [ID_TIP_PRO], [STOCK_PROD], [PRECIO], [DESCRIPCION], [ID_PROV], [FOTO_PROD]) VALUES (3, N'Audifonos Bluetooh', 1, 20, 20.0000, N'Auriculares TWS con Bluetooth 5,0, auriculares inalámbricos con cargador de 2200mAh, auriculares estéreo 9D deportivos impermeables con micrófono', 2, N'~/img/3.jpg')
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [EMPRESA_PROV], [NOM_PROV], [CARGO_PROV], [IDE_DIS], [FONO_PROV]) VALUES (0, N'TECNOLOGIES', N'ELON MUSK', N'GERENTE', 1, N'999191919 ')
INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [EMPRESA_PROV], [NOM_PROV], [CARGO_PROV], [IDE_DIS], [FONO_PROV]) VALUES (1, N'KobeKe Technology Ltd', N'JORGE ASTAMBUR', N'TECNICO ASISTENTE', 2, N'976223455 ')
INSERT [dbo].[PROVEEDOR] ([IDE_PROV], [EMPRESA_PROV], [NOM_PROV], [CARGO_PROV], [IDE_DIS], [FONO_PROV]) VALUES (2, N'GOLDOW TECNOLGY', N'ADRIAN CESPEDES', N'ASISTENTE ', 3, N'922922123 ')
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
INSERT [dbo].[TIP_EMP] ([ID_TIP], [DESCRIPCION]) VALUES (1, N'Administrador')
INSERT [dbo].[TIP_EMP] ([ID_TIP], [DESCRIPCION]) VALUES (2, N'CAJERA')
INSERT [dbo].[TIP_EMP] ([ID_TIP], [DESCRIPCION]) VALUES (3, N'AUXILIAR TECNICO')
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [usuario], [correo], [contraseña]) VALUES (1, N'deyvis', N'deyvis@gmail.com', N'1234')
INSERT [dbo].[USUARIO] ([ID], [usuario], [correo], [contraseña]) VALUES (8, N'aaa', N'aaa', N'aaa')
INSERT [dbo].[USUARIO] ([ID], [usuario], [correo], [contraseña]) VALUES (9, N'aaa', N'www', N'www')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DISTRITO] FOREIGN KEY([ID_DIS])
REFERENCES [dbo].[DISTRITO] ([ID_DIS])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_DISTRITO]
GO
ALTER TABLE [dbo].[DETALLE_PED]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PED] FOREIGN KEY([ID_PED])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE_PED] CHECK CONSTRAINT [FK_DETALLE_PED]
GO
ALTER TABLE [dbo].[DETALLE_PED]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PED_PRODUCTO] FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[PRODUCTO] ([ID_PROD])
GO
ALTER TABLE [dbo].[DETALLE_PED] CHECK CONSTRAINT [FK_DETALLE_PED_PRODUCTO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_DISTRITO] FOREIGN KEY([ID_DIS])
REFERENCES [dbo].[DISTRITO] ([ID_DIS])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_DISTRITO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_TIP_EMP] FOREIGN KEY([ID_TIP])
REFERENCES [dbo].[TIP_EMP] ([ID_TIP])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_TIP_EMP]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([ID_CLIE])
REFERENCES [dbo].[CLIENTE] ([IDE_CLIE])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([COD_EMP])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_EMPLEADO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([ID_TIP_PRO])
REFERENCES [dbo].[CATEGORIA] ([IDE_CAT])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PROVEEDOR] FOREIGN KEY([ID_PROV])
REFERENCES [dbo].[PROVEEDOR] ([IDE_PROV])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_PROVEEDOR]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAPRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAPRODUCTO](@IDE INT,@NOM VARCHAR(50),@CAT INT,@STO INT,@PRE money,
@DES VARCHAR(200),@PROV INT,@FOT VARCHAR(50))
AS
UPDATE PRODUCTO
SET NOM_PRO=@NOM,ID_TIP_PRO=@CAT,STOCK_PROD=@STO,
PRECIO=@PRE,DESCRIPCION=@DES,ID_PROV=@PROV,FOTO_PROD=@FOT
WHERE ID_PROD=@IDE

GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAPROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAPROVEEDOR](@IDPROV INT,@EMPRESA VARCHAR(50),@NOMBREPROVEEDOR VARCHAR(50),@CARGOPROVEEDOR VARCHAR(50),
@IDDIS INT,@TELEFONO NCHAR(10))
AS
	UPDATE PROVEEDOR
	SET EMPRESA_PROV= @EMPRESA,NOM_PROV=@NOMBREPROVEEDOR,CARGO_PROV=@CARGOPROVEEDOR, IDE_DIS=@IDDIS,FONO_PROV=@TELEFONO
	WHERE IDE_PROV=@IDPROV

GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_PRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_PRODUCTO] (@nom varchar(50) )
AS
SELECT P.ID_PROD, P.NOM_PRO,P.DESCRIPCION,P.PRECIO,P.FOTO_PROD,C.NOM_CAT,PR.EMPRESA_PROV 
FROM DBO.PRODUCTO P 
INNER JOIN DBO.PROVEEDOR PR ON P.ID_PROV=PR.IDE_PROV
INNER JOIN dbo.CATEGORIA C ON P.ID_TIP_PRO=C.IDE_CAT

WHERE P.NOM_PRO LIKE @nom+'%';

GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARPRODUCTOID]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARPRODUCTOID](@ide INT)
AS
SELECT P.ID_PROD,P.NOM_PRO,P.ID_TIP_PRO,P.STOCK_PROD,P.PRECIO, P.DESCRIPCION,
P.ID_PROV,P.FOTO_PROD FROM PRODUCTO P 
WHERE P.ID_PROD = @IDE

GO
/****** Object:  StoredProcedure [dbo].[SP_CATEGORIA]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CATEGORIA]
AS
SELECT C.IDE_CAT,C.NOM_CAT
FROM CATEGORIA C

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAPRODUCTO](@IDE INT)
AS
DELETE PRODUCTO WHERE ID_PROD=@IDE

GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINAPROVEEDOR](@IDE INT)
AS
DELETE PROVEEDOR WHERE IDE_PROV=@IDE

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTADISTRITO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTADISTRITO]
AS 
  SELECT * FROM DBO.DISTRITO

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPRODUCTOS]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAPRODUCTOS]
AS
SELECT P.ID_PROD,P.NOM_PRO,P.DESCRIPCION,P.PRECIO,P.STOCK_PROD,C.NOM_CAT,PRO.EMPRESA_PROV,P.FOTO_PROD
FROM dbo.PRODUCTO P 
INNER JOIN dbo.PROVEEDOR PRO
ON P.ID_PROV=PRO.IDE_PROV
INNER JOIN DBO.CATEGORIA C 
ON P.ID_TIP_PRO=C.IDE_CAT
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAPROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAPROVEEDOR]
AS
SELECT PRO.IDE_PROV,PRO.EMPRESA_PROV,PRO.NOM_PROV, PRO.CARGO_PROV,
D.NOMBRE as DISTRITO,PRO.FONO_PROV
FROM PROVEEDOR PRO
INNER JOIN DISTRITO D 
ON PRO.IDE_DIS=D.ID_DIS

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN](@correo varchar(50),@contraseña varchar(20))
AS
    
BEGIN 
     SELECT E.CORREO_EMP,E.CONTRASEÑA FROM DBO.EMPLEADO E
	 WHERE E.CORREO_EMP=@correo and E.CONTRASEÑA=@contraseña;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOPRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NUEVOPRODUCTO](@NOM VARCHAR(50),@CAT INT,@STO INT,@PRE money,
@DES VARCHAR(200),@PROV INT,@FOT VARCHAR(50))
AS
INSERT INTO PRODUCTO VALUES(@NOM,@CAT,@STO,@PRE,@DES,@PROV,@FOT)

GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOPROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NUEVOPROVEEDOR](@emp VARCHAR(50),@NOM VARCHAR(50),@cargo VARCHAR(20),
@DIS INT,@FON VARCHAR(15))
AS
INSERT INTO PROVEEDOR VALUES(@emp,@NOM,@cargo,@DIS,@Fon)

GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOUSUARIO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NUEVOUSUARIO](@USUARIO VARCHAR(50),@CORREO VARCHAR(50),@CONTRASEÑA VARCHAR(50))
AS
INSERT INTO Usuario VALUES(@USUARIO,@CORREO,@CONTRASEÑA)

GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTO]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PRODUCTO]
AS
SELECT P.ID_PROD,P.NOM_PRO,P.DESCRIPCION,P.PRECIO,P.STOCK_PROD,P.ID_TIP_PRO,P.ID_PROV,P.FOTO_PROD
FROM dbo.PRODUCTO P 

GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDOR]    Script Date: 13-mar-21 3:06:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PROVEEDOR]
AS
SELECT *
FROM PROVEEDOR

GO
USE [master]
GO
